@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

body {
    direction: rtl !important;
    text-align: right !important;
}

.myfont {
    font-family: sahel !important;
}

.errors {
    font-family: sahel !important;
    color: red;
    background-color: lightcoral;
    padding: 20px 30px;
    text-align: center;
}